<section class="article">
  <article class="article__container">
    <picture class="article__image">
      <source
        media="(min-width:64rem)"
        srcset="assets/images/image-hero-desktop.png"
      />
      <img
        src="assets/images/image-hero-mobile.png"
        alt=""
        class="article__image"
      />
    </picture>

    <div class="article__content">
      <div class="article__text">
        <h1 class="article__title">Make remote work</h1>
        <p class="article__paragraph">
          Get your team in sync, no matter your location. Streamline processes,
          create team rituals, and watch productivity soar.
        </p>

        <a href="#" class="article__learn-more">Learn more</a>
      </div>
      <ul class="article__partner-list">
        <li>
          <img
            src="assets/images/client-databiz.svg"
            alt="databiz logo"
            class="article__partner"
          />
        </li>
        <li>
          <img
            src="assets/images/client-audiophile.svg"
            alt="databiz logo"
            class="article__partner"
          />
        </li>
        <li>
          <img
            src="assets/images/client-meet.svg"
            alt="databiz logo"
            class="article__partner"
          />
        </li>
        <li>
          <img
            src="assets/images/client-maker.svg"
            alt="databiz logo"
            class="article__partner"
          />
        </li>
      </ul>
    </div>
  </article>
</section>
