@use "../../styles.scss" as base;

$main-padding: 1.25rem;

:host {
  padding: $main-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  min-width: 5rem;
}

nav {
  flex: 1;
}

.topnav {
  &__container {
    @media (width < 55rem) {
      display: flex;
      background-color: hsla(0, 0%, 0%, 0.24);
      position: fixed;
      inset: 0;
      padding-inline-start: 35%;
      translate: 100vw 0;
    }
  }

  &__menu {
    flex: 1;
    background-color: base.$almost-white;

    @media (width < 55rem) {
      padding: $main-padding;
      flex-direction: column;
    }

    @media (width >= 55rem) {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between;
      align-items: center;
    }
  }

  button {
    display: block;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-inline-start: auto;

    @media (width >= 55rem) {
      display: none;
    }
  }

  &__open[aria-expanded="true"] {
    + .topnav__container {
      translate: 0;
    }
  }

  &__close {
    margin-block-end: 1.5rem;
  }

  &__links,
  &__submenu {
    list-style-type: none;
    font-weight: 500;
  }

  &__links {
    display: flex;
    align-items: flex-start;
    gap: 0.375rem;
    font-size: 0.875rem;

    @media (width < 55rem) {
      margin-block-end: 0.875rem;
      flex-direction: column;
    }
  }

  &__item {
    &--has-submenu {
      position: relative;

      min-width: 13ch;
    }
    @media (width < 55rem) {
      width: 100%;
    }
  }

  &__link {
    display: block;
    padding: 0.65em;

    &--dropdown {
      &::after {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 0.5em;
        background: url("../../assets/images/icon-arrow-down.svg") no-repeat
          center;

        @media (width: 55rem) {
          margin-inline-start: 1rem;
        }
      }

      &[aria-expanded="true"]::after {
        background-image: url("../../assets/images/icon-arrow-up.svg");
      }

      + .topnav__submenu {
        display: none;
        padding-inline-start: 1.5rem;
        padding-block: 0.5rem;

        .topnav__sublink {
          padding-block: 0.5rem;
          display: flex;
          align-items: center;

          &-icon {
            margin-inline-end: 1rem;
            height: 1rem;
            width: auto;
          }
        }

        &--extra-padding {
          padding-block: 0.25rem;

          .topnav__sublink {
            padding-block: 0.6rem;
          }
        }

        @media (width < 55rem) {
          margin-block-start: 0.25rem;
        }

        @media (width >= 55rem) {
          position: absolute;
          top: 120%;

          padding: 0.5rem;
          background-color: base.$almost-white;
          border-radius: 10px;
          box-shadow: 0 20px 30px hsla(0, 0%, 0%, 0.3);
        }

        &--right {
          right: 0;
          width: 16ch;
        }
        &--left {
          left: 0;
        }
      }

      &[aria-expanded="true"] + .topnav__submenu {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
    }

    &--center {
      text-align: center;
    }

    &--border {
      border: 1px solid currentColor;
      border-radius: 10px;
    }
  }
  &__submenu:hover {
    display: block;
  }

  &__sublink {
    display: block;
    padding: 0.3em;
  }
}

/*
.nav__submenu-title {
  list-style: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    background: url("../../assets/images/icon-arrow-down.svg") no-repeat center;
    margin-left: 0.5rem;
    min-height: 1em;
    min-width: 1em;
  }
}

.nav__submenu-list {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;

  &--gap {
    gap: 0.25rem;
  }
}

.nav__link {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.65rem;

  &:hover {
    color: base.$almost-black;
  }

  &--extra {
    display: grid;
    grid-template-columns: 1.25rem auto;
    column-gap: 0.5rem;
    align-items: center;

    .nav__func-icon {
      display: inline;
      outline: none;
      min-height: 1.125rem;
      width: auto;
      justify-self: end;
    }
  }

  &--account {
    // padding: 1em;
    font-size: 0.8em;
    text-align: center;
  }

  &--border {
    border: 1px solid currentColor;
    border-radius: 15px;
  }
}

@media screen and (max-width: 799px) {
  .nav {
    &--open {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
  }
  .nav__navigation {
    &--hide {
      display: none;
    }
  }

  .nav__item {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  .nav__button {
    &--hide {
      display: none;
    }

    &--closes {
      align-self: flex-end;
    }
  }

  .nav__placeholder {
    position: relative;
    width: 35%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);

    &--hide {
      display: none;
    }
  }
  .nav__submenu[open] {
    .nav__submenu-title {
      margin-bottom: 0.25rem;

      &--extra-margin {
        margin-bottom: 0.75rem;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  :host {
    justify-content: flex-start;
  }

  .nav {
    flex: 1;
  }

  .nav__placeholder--mobile-only,
  .nav__button--mobile-only {
    display: none;
  }

  .nav__content {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav__navigation {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .nav__content--large-screen-open {
    display: flex;
  }

  .nav__submenu {
    position: relative;
  }

  .nav__submenu-list {
    position: absolute;
    background-color: base.$almost-white;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 10px 50px hsla(0, 0%, 0%, 0.5);
    min-width: 15ch;

    &--abs-left {
      left: 0;
    }

    &--abs-right {
      right: 0;
    }
  }

  // .nav__button--mobile-only {
  // }

  // .nav__placeholder {
  //   display: none;
  // }

  // nav {
  //   justify-content: space-between;
  // }
}
*/
